@import "tailwindcss";

/* =========================================
   GLOBAL RESET
========================================= */



html, body {
  overflow-x: hidden;
  background: white;
background: linear-gradient(
  135deg,
  #e4e4e4 0%,
 ,
  #c8c8c8 100%
);
}


/* Chrome / Safari / Edge */

html::-webkit-scrollbar,
body::-webkit-scrollbar{
  display: none;
}

.gsap-pin-spacer {
  overflow: hidden !important;
}