@import "tailwindcss";
@import "tailwindcss";

@plugin "flyonui";

@import "flyonui/variants.css";

@source "../node_modules/flyonui/dist/index.js";

/* =========================================
   GLOBAL RESET
========================================= */

html,
body {
  background: white;
  color: #111111;

  overflow-x: hidden;

  /* Scrollbar Hide */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  scroll-behavior: auto !important;

  overscroll-behavior: none;
}

/* Chrome / Safari / Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body {
  -webkit-overflow-scrolling: touch;
}