.heading {

  font-family:
    'League Spartan',
    sans-serif;

  font-weight: 900;

  font-size: clamp(
    2.8rem,
    7vw,
    3rem
  );

  line-height: 0.95;

  text-transform: uppercase;

  color: transparent;

  -webkit-text-stroke:
    2px #125785;

  letter-spacing: -2px;
}



.paragraph {

  font-family:
    'Manrope',
    sans-serif;

  font-size: 1.3rem;
  font-weight: 600;

  color: #222;
}





